body {
  background: #fafafa;
  font-family: sans-serif;
}

img {
  height: 100%;
  width: 100%;
  min-width: 250px;
  min-height: 250px;
  max-height: 250px;
  max-width: 250px;
  padding-bottom: 10px;
}

.Row_0{
  display: flex;
  height: 50%;
  width: 50%;
}

.Row_1{
  display: flex;
  height: 50%;
  width: 50%;
}

.Row_2{
  display: flex;
  height: 50%;
  width: 50%;
}

.Row_3{
  display: flex;
  height: 50%;
  width: 50%;
}

.Column_0 {
  margin-left: auto;
  display: block;
  height: 100%;
  width: 100%;
}

.Column_1 {
  margin-left: 10px;
  display: block;
  height: 100%;
  width: 100%;
}

.Column_2 {
  margin-left: 10px;
  display: block;
  height: 100%;
  width: 100%;
}
